trunk/ProxyConsole/Sneal.ProxyConsole.ConsoleClient/Service References/ConsoleRunnerService/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://proxyconsole.sneal.net" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://proxyconsole.sneal.net" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://proxyconsole.sneal.net/Imports">
      <xsd:import schemaLocation="http://localhost:8731/ConsoleRunner/?xsd=xsd0" namespace="http://proxyconsole.sneal.net" />
      <xsd:import schemaLocation="http://localhost:8731/ConsoleRunner/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8731/ConsoleRunner/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sneal.ProxyConsole.WcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ConsoleRunner_Run_InputMessage">
    <wsdl:part name="parameters" element="tns:Run" />
  </wsdl:message>
  <wsdl:message name="ConsoleRunner_Run_OutputMessage">
    <wsdl:part name="parameters" element="tns:RunResponse" />
  </wsdl:message>
  <wsdl:message name="ConsoleRunner_ExecutionComplete_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ExecutionComplete" />
  </wsdl:message>
  <wsdl:message name="ConsoleRunner_ExecutionProgress_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ExecutionProgress" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ConsoleRunner">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Run">
      <wsdl:input wsaw:Action="http://proxyconsole.sneal.net/ConsoleRunner/Run" message="tns:ConsoleRunner_Run_InputMessage" />
      <wsdl:output wsaw:Action="http://proxyconsole.sneal.net/ConsoleRunner/RunResponse" message="tns:ConsoleRunner_Run_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ExecutionComplete">
      <wsdl:output wsaw:Action="http://proxyconsole.sneal.net/ConsoleRunner/ExecutionComplete" message="tns:ConsoleRunner_ExecutionComplete_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ExecutionProgress">
      <wsdl:output wsaw:Action="http://proxyconsole.sneal.net/ConsoleRunner/ExecutionProgress" message="tns:ConsoleRunner_ExecutionProgress_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>